
#site {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
}

.product-name {
	text-align: center;
	color: #fc0;
	margin: 0;
	font-size: 1.4em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #666;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

form.add-to-wishes div,
form.add-to-wishes p {
	text-align: center;
}

.btn {
	display: inline-block;
}

#site-info {
	height: 3em;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: #cc8500;
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 0;
}

#shopping-wishes {
	margin: 1.5em 0;
}

.shopping-wishes {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-wishes th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-wishes td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-wishes tr:nth-child(even) {
	background: #fafafa;
}

#shopping-wishes-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}